<div class="bg-primary">
  <ul class="container-lg d-none d-md-flex text-lg py-3 list-unstyled">
      <li>
          <a class="text-white pr-6 hover-opacity" href="#">CHANEL</a>
      </li>
      <li>
          <a class="text-white pr-6 hover-opacity" href="#">Jo Malone</a>
      </li>
      <li>
          <a class="text-white pr-6 hover-opacity" href="#">Curology</a>
      </li>
      <li>
          <a class="text-white pr-6 hover-opacity" href="#">Dior</a>
      </li>
      <li>
          <a class="text-white pr-6 hover-opacity" href="#">Chloe</a>
      </li>
      <li>
          <a class="text-white pr-6 hover-opacity" href="#">ZARA</a>
      </li>
  </ul>
</div>