<section class="subscribe bg-cover"
  style="background-image: url('assets/images/index10.jpg'); height: 600px">
  <div class="container">
    <div class="row" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
      <div class="col-12 col-md-4">
        <h3 class="h2 font-weight-bold text-secondary mb-4">記得 <br>訂閱以獲取更多資訊！</h3>
        <form>
          <div class="input-group">
            <input type="text" class="subscribe__input form-control p-3 h-100" placeholder="Your email address" aria-label="Your email address">
            <div class="input-group-append">
              <button type="submit" class="subscribe__btn btn btn-primary px-5">Subscribe</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>


