


body{
	font: {
		family: $font-family;
		size: map-get($font-size, md);
		weight: map-get($font-weight, bl);
	}
	line-height: map-get($font-line-height, md);
	color: map-get($color-group,'dark');
}


img{ max-width:100%;}

a {
	text-decoration: none !important;
  color: map-get($color-group,'dark');
}

