<header>
  <div class="container">
      <nav class="navbar navbar-expand-md navbar-light bg-white px-0 py-1">
          <a class="navbar-brand text-4xl text-logo py-0 mx-auto" href="./index.html">PETPET</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link text-primary p-md-5" href="./service.html">預約服務</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link text-primary p-md-5" href="#">成為寵物保姆</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link text-primary p-md-5" href="./login.html">登入</a>
                  </li>
              </ul>
          </div>
      </nav>
  </div>
</header>